*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(90, 14, 90);
    display: flex;
    justify-content: center;
}

h1
{
    color: gold;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 40px;
    font-size: 50px;
    position: fixed;
}

img
{
    height: 500px;
    width: 550px;
    position: absolute;
    top: 150px;
    cursor: text;
}

#again_play_id
{
    color: gold;
    position: absolute;
    top: 600px;
    left: 250px;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#again_play_id:hover
{
    color: goldenrod;
    font-style: italic;
}
