*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
}

body
{
    background-color: azure;
    position: relative;
}

.ALL_BULB_IMG
{
    height: 350px;
    width: 250px;
    margin-top: 30px;
    margin-left: 600px;
}

.all_btn
{
    height: 40px;
    width: 100px;
    font-size: 25px;
    letter-spacing: 1px;
}

#select_bulb
{
    position: absolute;
    top: 360px;
    left: 310px;
    font-size: 25px;
}

#op
{
    position: absolute;
    top: 360px;
    left: 465px;
    height: 35px;
    width: 170px;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
}