*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div
{
    height: 100vh;
    width: 100vw;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
div img
{
    height: 300px;
    width: 450px;
    margin-top: 100px;
    margin-left: 500px;
}
div h1
{
    margin-left: 320px;
    color: #fff;
    font-size: 40px;
    /* text-decoration: underline; */
    text-transform: capitalize;
}
div h2
{
    color: #fff;
    margin-top: 10px;
    margin-left: 620px;
    font-size: 40px;
    /* text-decoration: underline; */
    text-transform: capitalize;
}
div a
{
    color: darkblue;
    font-size: 40px;
    position: relative;
    top: 50px;
    left: 320px;
    text-transform: capitalize;
}
a:hover
{
    font-style: italic;
    color: chartreuse;
}