*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
input
{
    outline: none;
    width:200px;
}
textarea
{
    outline: none;
}
select
{
    outline: none;
}
body
{
    height: 100vh;
    width: 100vw;
    background:aliceblue;
    overflow-x: hidden;
    overflow-y: hidden;
}

#top_box img
{
    height: 30px;
    width: 30px;
    transform: rotate(180deg);
    position: relative;
    top: 5px;
}
#right_box img
{
    height: 30px;
    width: 30px;
    display: block;
    margin-left: 1500px;
    transform: rotate(268deg);
}
#left_box img
{
    height: 30px;
    width: 30px;
    position: relative;
    top: -655px;
    display: flex;
    transform: rotate(90deg);
}
#bottom_box
{
    margin-left: 4px;
}
#bottom_box img
{
    height: 30px;
    width: 30px;
    margin-top:-10px;
}
#line
{
    height: 600px;
    width: 2px;
    /* background: black; */
    margin-top: -1165px;
}
#show_timer
{
    position: absolute;
    top: 150px;
    left: 250px;
    font-size: 40px;
    color: darkcyan;
}
#show_timer_msg
{
    position: absolute;
    top: 220px;
    left: 210px;
    font-size: 35px;
}
#images
{
    height: 240px;
    width: 350px;
    position: absolute;
    top: 290px;
    left: 190px;
}
#minutes_second_timer
{
    margin-top: -580px;
    margin-left: 1100px;
    font-size: 40px;
    color: blue;
}
#main_validation span
{
    color: red;
}
#main_validation
{
    height: 680px;
    width: 800px;
    /* border:1px solid black; */
    margin-top:-270px;
    margin-left:480px;
    display:flex;
    justify-content:center;
    align-items: center;
}
#minutes_second_timer
{
    width:280px;
    height:90px;
    /* border:1px solid black; */
    margin-left:-900px;
    position: relative;
    top: -170px;
}
#main_validation label
{
    font-size: 20px;
}
#main_validation input
{
    font-size: 20px;
}
.eye
{
    width:20px;
    height:20px;
    /* border:1px solid black; */
    margin-left:255px;
    margin-top:-23px;
}
.gen,.hob
{
    width:15px;
}
#pass_error
{
    width:150px;
    height:30px;
    /* border:1px solid black; */
    margin-left:455px;
    margin-top:-25px;
    text-align: start;
    padding:5px;
}
#captcha_box
{
    width:700px;
    height:100px;
    /* border:1px solid black; */
}
#captcha
{
    font-size:25px;
    margin-left: -430px;
}
#s1
{
    margin-top:-30px;
}
#captcha_box input
{
    width: 170px;
}
#captcha_show_msg
{
    font-size: 18px;
}
#pass_validation_box
{
    font-size: 13px;
    margin-left: 70px;
}
#pass_validation_box span
{
    color: gray;
    text-transform: capitalize;
}
