*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: #fff;
}
.box_one
{
    height: 700px;
    width: 800px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 330px;
    background-color: #abebc6;
}
.abc_one
{
    font-family: arial;
    margin-left: 250px;
    margin-top: 20px;
    font-size: 45px;
}
.address_one
{
    margin-top: 15px;
    margin-left: 195px;
    font-size: 25px;
}
.border_one
{
    border: 2px solid black;
    height: 42px;
    margin-top: 40px;
}
.receipt_one
{
    margin-left: 350px;
    font-family: sans-serif;
}
.date_btn
{
    margin-top: 15px;
    margin-left: 520px;
}
.date_size
{
    font-size: 20px;
}
.line_border
{
    border: 1px solid black;
    margin-top: 20px;
}
.n_student
{
    font-size: 30px;
    font-family: arial;
    margin-left: 5px;
}
.input_s_name
{
    height: 40px;
    width: 450px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 10px;
    outline: none;
    text-transform: capitalize;
}
.table1
{
    margin-top: 30px;
    font-size: 22px;
    margin-left: 50px;
    border: 2px solid black;
}
.table2
{
    margin-top: -207px;
    margin-left: 438px;
    border: 2px solid black;
    font-size: 20px;
}
.submit
{
    margin-top: 10px;
    margin-left: 320px;
    font-size: 20px;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    background-color: #fff;
    font-family: arial;
}
#input1
{
    padding-left: 5px;
}
#error_show_msg
{
    font-size: 30px;
    color: red;
    font-family: 'Times New Roman';
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 300px;
}
#first,#second,#third,#fourth,#input1
{
    outline: none;
    width: 230px;
}

#discount_btn
{
    height: 40px;
    width: 120px;
    position: absolute;
    top: 350px;
    left: 1009px;
    background-color: red;
    color: white;
}

#discount_btn_offer
{
    height: 160px;
    width: 300px;
    border: 2px solid red;
    position: absolute;
    top: 400px;
    left: 1150px;
    font-size: 18px;
}

#discount_btn_offer>span
{
    margin-left: 10px;
}

@media print
{
    #receipt_btn,
    #discount_btn,
    #error_show_msg,
    #discount_btn_offer
    {
        display: none !important;
    }

    .box_one
    {
        margin: 0px !important;
    }

    .table2 
    {
        margin-top: -217px !important;
    }
}


