*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-weight: 350;
}

#container
{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    position: relative;
}

label
{
    color: black;
    font-size: 25px;
    color: #fff;
}

#uname_id,#email_id,#pass_id
{
    height: 40px;
    width: 300px;
    border: 0px;
    font-size: 22px;
    outline: none;
    padding-left: 8px;
    caret-color: black;
    background-color: white;
    color: black;
    border-radius: 4px;
}

#pass_lable
{
    font-size: 35px;
    position: absolute;
    left: 480px;
    top: 140px;
}

#pass_id
{
    position: absolute;
    left: 680px;
    top: 145px;
}

#email_lable
{
    font-size: 35px;
    position: absolute;
    left: 480px;
    top: 75px;
}

#email_id
{
    position: absolute;
    left: 680px;
    top: 78px;
}

#name_lable
{
    font-size: 35px;
    position: absolute;
    left: 480px;
    top: 8px;
}

#uname_id
{
    position: absolute;
    left: 680px;
    top: 13px;
}

#sub
{
    height: 40px;
    width: 100px;
    color: black;
    position: absolute;
    top: 380px;
    left: 680px;
    font-size: 20px;
    background-color: gray;
    font-weight: 500;
    border-radius: 8px;
}

#uname_show_msg
{
    position: absolute;
    left: 985px;
    top: 12px;
    font-size: 30px;
}

#email_show_msg
{
    position: absolute;
    left: 985px;
    top: 80px;
    font-size: 30px;
}

#pass_show_msg
{
    position: absolute;
    left: 985px;
    top: 145px;
    font-size: 30px;
}

#toggle_eye
{
    position: absolute;
    top: 155px;
    left: 945px;
    font-size: 20px;
}

#toggle_eye:hover
{
    cursor: pointer;
}


#password_validation
{
    height: 205px;
    width: 300px;
    border: 2px solid red;
    position: absolute;
    left: 990px;
    top: 200px;
    font-size: 25px;
    border-radius: 10px;
}

#p_v
{
    color: red;
    font-weight: 400;
}

#six_digit,#upper_char,#lower_char,#number_digit,#special_char
{
    font-size: 25px;
    position: absolute;
    left: 15px;
    color: red;
}


#to_do_list
{
    height: 80px;
    width: 500px;
    position: absolute;
    top: 400px;
    left: 80px;
}

tr
{
    height: 40px;
    width: 150px;
    border: 5px solid black;
    background-color: #330867;
    color: #fff;
}
#btn_edit
{
    height: 30px;
    width: 80px;
    background-color: yellowgreen;
    color: black;
    font-size: 20px;
}

#delete_btn
{
    height: 30px;
    width: 80px;
    background-color: red;
    color: black;
    font-size: 20px;
}

.swal2-no-button
{
    background-color: red;
}
.swal2-yes-button
{
    background-color: blue;
}

#city_id
{
    font-size: 35px;
    position: absolute;
    top: 205px;
    left: 480px;
}

#op
{
    height: 40px;
    width: 305px;
    position: absolute;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    top: 210px;
    left: 680px;
}

#gender_lable
{
    font-size: 30px;
    position: absolute;
    top: 270px;
    left: 480px;
}

#gender_box
{
    font-size: 25px;
    position: absolute;
    top: 275px;
    left: 680px;
    color: #fff;
}

.gender
{
    height: 15px;
    width: 15px;
}

#hobby_id
{
    font-size: 30px;
    position: absolute;
    top: 330px;
    left: 480px;
}

#checkbox_btn_box
{
    position: absolute;
    top: 330px;
    left: 681px;
    font-size: 25px;
    color: #fff;
}

.check_btn
{
    height: 15px;
    width: 15px;
}
